@use 'kit/variables' as var;
@use 'kit/mixins' as mix;

@media (min-width: 481px) and (max-width: 768px) {
  .hero {
    min-height: 100vh;
    padding: 3rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
      url(/src/assets/dog_paws_tab.png),
      linear-gradient(0deg, rgba(163, 126, 92, 0.685) -5.615%, rgba(90, 69, 49, 0) 52.259%),
      url(/src/assets/dog_hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: normal, multiply, normal;

    &__container {
      width: 100%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__logo {
      position: static;
      width: 160px;
      margin-bottom: 2rem;
      animation: logoFlip 4s ease-in-out infinite;
    }

    &__title {
      position: static;
      @include mix.heading(var.$font-size-4xl, var.$color-brown-dark);
      margin-bottom: 1rem;
    }

    &__subtitle {
      position: static;
      @include mix.text-base(var.$font-size-lg, var.$color-gray-dark);
      max-width: 85%;
      line-height: var.$line-height-loose;
    }
  }

  .content {
    padding: 79px 0 40px;

    &__container {
      padding: 0 24px;
      max-width: 640px;
    }

    &__header {
      margin-bottom: 60px;
    }

    &__title {
      font-size: 48px;
      line-height: 52px;
      margin: 0 auto 30px;
      max-width: 600px;
    }

    &__subtitle {
      font-size: var.$font-size-lg;
      line-height: var.$line-height-loose;
      max-width: 600px;
      margin: 0 auto;
      padding: 0 3px;
    }

    &__body {
      display: block;
      margin-bottom: 40px;
      max-width: 100%;
    }

    &__column {
      margin-bottom: 30px;

      &:first-child {
        margin-bottom: 50px;
      }
    }

    &__text {
      font-size: var.$font-size-sm;
      line-height: var.$line-height-relaxed;
      width: 100%;
      max-width: 100%;
    }

    &__actions {
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
  }
}


// Стилі для екранів 480px і менше
@media (max-width: var.$breakpoint-mobile) {
  .hero {
    height: 600px;
    position: relative;
    
    &__title {
      top: 200px;
      font-size: 60px;
      line-height: 55px;
      padding: 0 15px;
    }
    
    &__subtitle {
      top: 450px;
      width: 260px;
      font-size: var.$font-size-lg;
      line-height: 28px;
    }
  }
  
  .content {
    padding: 60px 0 30px;
    min-height: 996px;
    
    &__container {
      padding: 0 20px;
    }
    
    &__header {
      margin-bottom: 40px;
    }
    
    &__title {
      margin-bottom: 25px;
      width: 100%;
    }
    
    &__subtitle {
      font-size: var.$font-size-lg;
      line-height: 28px;
      max-width: 100%;
    }
    
    &__text {
      width: 100% !important;
      max-width: 100%;
    }
    
    &__column:first-child {
      margin-bottom: 40px;
    }
  }
}